// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


a:hover {
    background-color: rgba(0,0,0,0);
}

.sidebar {
    height: calc(100vh - 4rem);
}